<header class="c-header">
  <div class="o-container">
    <h1 class="c-header__logo">
      <a class="c-header__logo-link" href="/">
        {{ site.title }}
      </a>
    </h1>
    <nav class="c-header__nav">
      <ul class="c-header__nav-list">
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="{{ "/" | prepend: site.baseurl }}">
            Home
          </a>
        </li>
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="{{ "/blog" | prepend: site.baseurl }}">
            Blog
          </a>
        </li>
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="https://twitter.com/kingstonrichard">
            Twitter
          </a>
        </li>
        <li class="c-header__nav-item">
          <a class="c-header__nav-link" href="https://linkedin.com/in/kingstonrichard">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>