/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

/**
 * About this file
 */

h1 {
  font-family: $font-family--headings;
  font-weight: $font-weight--heavy;
  margin: 0;
  padding: 0;
}
