/*------------------------------------*\
  #COVER
\*------------------------------------*/

/**
 * Description.
 */

$color__cover--bg: #212121 !default;
$color__cover--fg: #e5e5e5 !default;
$color__nav--bg: darken($color__cover--bg, 10) !default;
$color__nav--fg: $color__cover--fg !default;

.c-cover {
  background-color: $color__cover--bg;
  display: flex;
  height: 100vh;
  padding-top: 5rem; // Allows for the height of any page header
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: -1000; // Keeps the cover behind any page header
}

.c-cover__item {
  color: $color__cover--fg;
  margin: auto;
}

.c-cover__item::before {
  color: darken($color__cover--bg, 10);
  font-size: 70vh;
  font-weight: 600;
  left: 0;
  line-height: 100vh;
  opacity: .6;
  padding-top: 5rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2000;
}

.c-cover__title {
  font-size: 10vw;
  font-weight: 600;
  text-transform: uppercase;
}

.c-cover__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-cover__nav-item {
  border: solid 1px $color--secondary;
  display: inline-block;
}

.c-cover__nav-link {
  -moz-transition: 500ms;
  -webkit-transition: 500ms;
  color: $color__nav--fg;
  display: block;
  line-height: 3.8rem;
  padding: 0 1rem;
  text-decoration: none;
  transition: 500ms;

  &:hover {
    background-color: $color__nav--bg;
  }
}

@include media-query(md) {

  .c-cover__title {
    font-size: $font-size--gg;
  }
  
  .c-cover__item::before {
    font-size: 100vh;
  }

  .c-cover__excerpt {
    margin: 2rem auto;
    width: 50%;
  }

}
