/*------------------------------------*\
  #CONTAINERS
\*------------------------------------*/

/**
 * About this file
 */

.o-container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.o-wrapper {
  padding: 1rem;
}
