/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

/**
 * This is where we outline our global variables that are available throughout
 * the CSS experience. Local variables are declared within indivdual SCSS files
 * and take priority over these in some instances.
 */

/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/

$breakpoint--md: 769px;   // Tablet
$breakpoint--lg: 1225px;   // Lap/Desktop
$breakpoint--gg: 1825px;  // Widescreen





/*------------------------------------*\
  #SPACING
\*------------------------------------*/

$spacing: 1rem;
$spacing--ty: ($spacing / 4);     // Tiny
$spacing--sm: ($spacing / 2);     // Small
$spacing--lg: ($spacing * 1.8);   // Large
$spacing--gg: ($spacing * 4);     // Gigantic





/*------------------------------------*\
  #FONTS
\*------------------------------------*/

$font-family: 'Josefin Sans', sans-serif;
$font-size: 1.2rem;
$font-size--ty: ($font-size / 4);     // Tiny
$font-size--sm: ($font-size / 2);     // Small
$font-size--lg: ($font-size * 1.8);   // Large
$font-size--gg: ($font-size * 4);     // Gigantic





/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$color--primary: #567EBB;
$color--secondary: #e5e5e5;
$color--body: #fff;
$color--text: #222;

$color__header--bg: $color--primary;
$color__header--fg: $color--secondary;
$color__cover--bg: $color--primary;
$color__cover--fg: $color--secondary;
$color__page--bg: $color--primary;
