/*------------------------------------*\
  #TEXT
\*------------------------------------*/

/**
 * About this file
 */

 .t-initial--a::before { content: '\0041'; }
 .t-initial--b::before { content: '\0042'; }
 .t-initial--c::before { content: '\0043'; }
 .t-initial--d::before { content: '\0044'; }
 .t-initial--e::before { content: '\0045'; }
 .t-initial--f::before { content: '\0046'; }
 .t-initial--g::before { content: '\0047'; }
 .t-initial--h::before { content: '\0048'; }
 .t-initial--i::before { content: '\0049'; }
 .t-initial--j::before { content: '\004A'; }
 .t-initial--k::before { content: '\004B'; }
 .t-initial--l::before { content: '\004C'; }
 .t-initial--m::before { content: '\004D'; }
 .t-initial--n::before { content: '\004E'; }
 .t-initial--o::before { content: '\004F'; }
 .t-initial--p::before { content: '\0050'; }
 .t-initial--q::before { content: '\0051'; }
 .t-initial--r::before { content: '\0052'; }
 .t-initial--s::before { content: '\0053'; }
 .t-initial--t::before { content: '\0054'; }
 .t-initial--u::before { content: '\0055'; }
 .t-initial--v::before { content: '\0056'; }
 .t-initial--w::before { content: '\0057'; }
 .t-initial--x::before { content: '\0058'; }
 .t-initial--y::before { content: '\0059'; }
 .t-initial--z::before { content: '\005A'; }