---
layout: page
title: Blog
---
<article class="c-page__article">
  <header>
    <h1 class="c-page__title">Blog</h1>
    <p class="c-page__meta">{{ site.description }}</p>
  </header>
  <nav class="c-page__nav">
    <ul class="c-page__nav-list">
      {% for post in site.posts %}
        <li class="c-page__nav-item">
            <a class="c-page__nav-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <span class="c-page__nav-date">({{ post.date | date: "%b %d, %Y" }})</span>
            <p class="c-page__nav-excerpt">
              {% if post.intro %} 
                {{ post.intro }} 
              {% else %} 
                {{post.excerpt | remove: "<p>" | remove: "</p>" }} 
              {% endif %}
            </p>
        </li>
      {% endfor %}
    </ul>
  </nav>
</article>